$btn-scs-color: #369818;
$btn-error-color: #98263F;
$btn-close-color: #020506;
$btn-border-enter-by-email-color: #19170F;
$btn-back-color: #98263F;
$btn-btn-color:#dc143c;
$popup_color: #000;
$background:white;
