<span class="label_text"> Book unique homes and experiences. </span>
<form class="form">
    <label class="form_element">
    <input placeholder="Anywhere" class="form_element-input">
    </label>
  <label class="form_element">
    <input placeholder="Anywhere" class="form_element-input">
  </label>
  <label class="form_element">
    <input placeholder="Mon/Day/Year" class="form_element-input">
  </label>
  <label class="form_element">
    <input placeholder="Mon/Day/Year" class="form_element-input">
  </label>
<button class="btn-search">
  Search
</button>
</form>
