<span class="label_text"> Book unique homes and experiences. </span>
<form class="form">
  <label class="form_element">
    <input placeholder="Town" class="form_element-input">
  </label>
  <label class="form_element">
    <input placeholder="Region" class="form_element-input">
  </label>
  <label class="form_element">
    <input placeholder="Price" type='text' class="form_element-input_price">
    <input placeholder="Price" class="form_element-input_price">
  </label>
  <div class="calendar_container">
    <app-datapicker (whenClosed)="takeData($event)"></app-datapicker>


    <!--<label class="form_element">-->
    <!--<input [matDatepicker]="myDataPicker2">-->
    <!--<mat-datepicker #myDataPicker2 (closed)="whenClosed(myDataPicker2)" ></mat-datepicker> &lt;!&ndash;placeholder&ndash;&gt;-->
    <!--<mat-datepicker-toggle matSuffix [for]="myDataPicker2"></mat-datepicker-toggle>&lt;!&ndash;button&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-datepicker #myDataPicker startView="year" [startAt]="startDate"></mat-datepicker>&ndash;&gt;-->

    <!--</label>-->
  </div>

  <button class="btn-search">
    Search
  </button>
</form>
