@import '../../../../styles';
.divider_block {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.chevron {
  box-sizing: padding-box;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 18%;
}

.chevron:hover {
  letter-spacing: 4em;
  transition: all .4s linear;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.9);
  transform: scale(1.2);

}
