<div class="section">
  <div class="Wallpapers"></div>
  <img alt class="Png" src="../../../../assets/Image/info.jpg">
  <div class="rating">
  </div>

  <h2><span class="text"> {{item.Article}}</span></h2>
  <div class="tell_text">
          <span class="tell_text-block">
  {{item.Comment}}
          </span>
  </div>
  <div class="usersTell">
    <img alt="" class="user" src="../../../../assets/Image/user.png">
    <h3><span>{{item.Country}}
            <a>{{item.Name}}</a>
    </span></h3>
  </div>
</div>
