@import "assets/shared/colors.scss";
/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding:0;
}
%btn {
  height: 40px;
  background: $btn-scs-color;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  cursor:pointer;
}

.btn-scs {
  @extend %btn;
}
.btn-back{
  @extend %btn;
  background: $btn-back-color;
}

.btn-error {
  @extend %btn;
  background: $btn-error-color;
  border-radius: 5px;
}

.btn-close {
  background: $btn-close-color;
}

.form_element-input {
  border-radius: 5px;
  height: 40px;
  padding-left: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form:after{
  content:url("/assets/Image/close.png");
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

}
.form:after:hover{
  background-color: #0b0b0b;
}
 form.btn-close{
   display: none;
 }


.link{
  cursor: pointer;
}
