<div class="pop-up" #popup>
  <div *ngIf [@startFinish]="isOpen ? 'start': 'finish'" class="auth__block">
    <button class="btn-scs enter_email" (click)="signInWithGoogle()"><span>Log in for Gmail</span></button>
    <form class="form" [formGroup]="authFormGroup"
          (ngSubmit)="signInWithEmailAndPassword()"
          *ngIf="authForm; else regForm">
      <label class="form_element">
        <input formControlName="mail" class="form_element-input" placeholder="Адрес електронной почты">
      </label>
      <label class="form_element">
        <input class="form_element-input" formControlName="password" placeholder="Пароль">
      </label>
      <button class="btn-scs" type="submit">Войдите</button>
      <span>Не зарегистрированы? <a (click)="openRegistrationForm()" class="link">Зарегистрироваться</a> </span>
    </form>
    <ng-template #regForm>
      <app-registration [ngStyle]="{'width':'100%'}" (redirectToAuth)="openAuthForm()"></app-registration>
    </ng-template>
  </div>
</div>

