@import "../../../styles.scss";

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.pop-up:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $popup_color;
}

.auth__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 568px;
  height: 791px;
  padding: 30px;
  background: white;
  left: 50%;
  top: 20%;
  min-height: 400px;
  margin: 0 auto;
  transform: translate(-50%);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form_element {
  width: inherit;
}

.form_element-input {
  width: inherit;
  margin-top: 10px;
}

.btn-scs {
  width: inherit;
  margin-top: 10px;
}

.enter_email {
  background: white;
  border: 2px solid $btn-border-enter-by-email-color;
  color: black;
}
